body {
  background-color: lightgrey;
}

header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #1E90FF; /* Set your header color here */
            height: 70px; /* Set the header height */
            padding: 0 20px;
            box-sizing: border-box;
}
