@import url("colors.css");

html, body, header
{
	margin: 0;
	padding: 0;
	font-family: Consolas;
	color: var(--white50);
}

body
{
	background-color: var(--gray1);
}

header
{
	background-color: var(--gray2);
	height: 70px;
	padding: 0 20px;
}

.section
{
	width: 100%;
}

.overlay
{
	position: absolute; /* sits on top of video */
	inset: 0;
}

.centerStack
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slogan
{
	color: var(--white50);
	text-align: center;
}

.video-container
{
	position: relative;
	display: inline-block;
	height: 100%;
	overflow: hidden;
}

video
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.nav_button
{
	color: var(--white50);
	background-color: var(--green1);
	border: 0px;
	border-radius: 16px;
	padding: 16px;
	text-decoration: none;
	transition: background 0.2s ease, color 0.2s ease;
}

	.nav_button:hover
	{
		background-color: var(--green2);
		color: var(--white);
	}

/*Navigation*/
.nav_banner
{
	padding: 16px;
	display: flex;
	height: 64px;
	align-items: center;
	z-index: 500;
}

.nav_button_stack
{
	margin-left: auto;
}

	.nav_button_stack a
	{
		color: var(--white25);
		text-decoration: none;
		font-size: 17px;
		padding: 10px 16px;
		border-radius: 6px;
		transition: background 0.2s ease, color 0.2s ease;
	}

		.nav_button_stack a:hover
		{
			background-color: rgba(255, 255, 255, 0.15);
			color: var(--white);
		}

		.nav_button_stack a:active
		{
			color: var(--white);
		}

/*Page*/
.page
{
	margin: 64px;
	padding: 16px;
	/*background-color:red;*/
	border-radius: 32px;
}

/*Table*/
table
{
	background-color: transparent;
	border-collapse: collapse;
}

th, td
{
	border: 1px solid var(--gray2);
	padding: 8px 12px;
	text-align: left;
}

th
{
	/*background-color: #f4f4f4;*/
}
